$fast-transition-time: 0.15s;

.day-thumbnail-button-root {
  width: 100%;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  transition: 0.15s padding ease-in-out;
  user-select: none;

  h2 {
    margin: 0
  }

  h3 {
    margin: 0
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container-relative {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 16px 0 rgb(0, 0, 0, 0.5);

    .container-absolute {
      transition: $fast-transition-time padding ease-in-out;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0.5rem 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .text-wrapper {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      background: rgba(0, 0, 0, 0.7);
      width: fit-content;
    }
  }

  &:hover {
    padding: 0.5rem;
    .container-absolute {
      padding: 1rem 0 0 0;
    }
  }

  &:active {
    padding: 1rem;
    .container-absolute {
      padding: 0.5rem 0 0 0;
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #232323;
}
